
/* Made the style more responsive for monitors and laptop :> */

/* ------------------------------------- Universal Styles -----------------------------------------------*/

body {
    background-color: #00c2cb;
    margin: 0px;
    overflow: hidden;
}

td, th{
    border: 2px solid black;
}

button {
    transition: 0.5s;
    transition-duration: 0.5s;
}

button:hover {
    transform: scaleY(1.05) scaleX(1.05);
}

img {
    transition: 0.5s;
    z-index: 0;
}
img:hover {
    transform: scale(1.05);
    z-index: 1;
}
::selection {
    background-color: #6bda3b;
    color: white;
}
img::selection {
    background-color: #00c2cb;
    color: white;
}
video {
    transition: 1s;
    z-index: 1;
}
/* ---- Logo Styles ---- */

.logoFormat1 {
    position: fixed;
    left: 2.5%;
    width: 28%; 
    height: 25%;
}
.logoFormat2 {
    position: fixed; 
    right: 1%; top: 2.5%;
    height: 16%;
    width: 20%;
}

/* ---- Searchbar Format  ---- */

.searchbarFormat {
    overflow: auto;
    width: 30%;
    height: 6.25%;
    position: fixed; left: 35%; top: 3%;
    border: 2px solid black;
}
.searchbarFormat button {
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    width: 30%;
    font-size: 1.75vw;
    border: none;
    border-right: 2px solid black;
    background: #7ed957;
    color: white;
    cursor: pointer;
}
.searchbarFormat:hover button {
    color:#6bda3b;
    background-color: white;
    transform: scale(1);
}
.searchbarFormat input[type=text] {
    float: right;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    width: 70%;
    font-size: 0.9vw;
    border: none;
    text-align: center;
}
/* Footer */

footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 4.5%;
    padding: 0px;
    background-color: white;
}
footer p.left {
    position: fixed;
    bottom: -1%;
    text-align: left;
    font-size: 12px;
    color: #6bda3b;
    padding-left: 1%;
}
footer p.center {
    position: relative;
    bottom: 20%;
    text-align: center;
    font-size: 12px;
    color: #6bda3b;
    font-weight:bold;
}
#footerContacts {
    display: inline;
    position: fixed;
    bottom: 1px;
    right: 2px;
}
div.imgInstagram {
    background: url('../images/Icon.png') no-repeat -1px -1px;
	width: 27px;
	height: 27px;
    position: fixed;
    right: 69px;
    bottom: 2px;
    transition: 0.5s;
}
div.imgFacebook {
    background: url('../images/Icon.png') no-repeat -40px -1px;
	width: 26px;
	height: 27px;
    position: fixed;
    right: 37px;
    bottom: 2px;
    transition: 0.5s;
}
div.imgTwitter {
    background: url('../images/Icon.png') no-repeat -79px -3px;
	width: 27px;
	height: 23px;
    position: fixed;
    right: 5px;
    bottom: 2px;
    transition: 0.5s;
}
.imgInstagram:hover {
    background: url('../images/IconHover.png') no-repeat -1px -1px;
	width: 27px;
	height: 26px;
}
.imgFacebook:hover {
    background: url('../images/IconHover.png') no-repeat -29px -1px;
	width: 26px;
	height: 26px;
}
.imgTwitter:hover {
    background: url('../images/IconHover.png') no-repeat -56px -1px;
	width: 28px;
	height: 26px;
}

/* ---- Title Styles ---- */

.textTitleFormat{
    font-size: 1.2vw;
    font-weight: bolder;
}

/* ---- About Buttons ----*/

.buttonAbout {
    position: fixed; right: 21.5%; top: 3%;
    background-color: white;
    border: 2px solid black;
    height: 6.9%;
    width: 10.5%;
    font-size: 1.5vw;
    color: #7ed957;
    font-weight: bolder;
    cursor: pointer;
}
.buttonAbout:hover {
    background-color: #7ed957;
    color: white;
}
.buttonAbout:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}


/* -------------------------------------------- Home Page Styles ------------------------------------------ */

/* Button Styles */
#navHomePage {
    box-sizing: border-box;
    overflow: auto;
    width: 35%;
    height: 6.8%;
    position: fixed; right: 1.25%; top: 3%;
    border: 1px solid black;
}
#navHomePage button {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    width: 18%;
    font-size: 1.5vw;
    border: 1px solid black;
    background: white;
    color: #7ed957;
    cursor: pointer;
}
#navHomePage button:nth-last-child(1) {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    width: 28%;
    font-size: 1.5vw;
    border: 1px solid black;
    background: white;
    color: #7ed957;
    cursor: pointer;
}

#navHomePage button:hover {
    background-color: #7ed957;
    color: white;
    transform: scale(1);
}
#navHomePage button:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}

#buttonAboutMyself {
    position: fixed; left: 33%; top: 3%;
    background-color: white;
    border-radius: 25px;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 6px 6px 0px 6px;
    width: 29%;
    font-size: 0.9vw;
    color: #7ed957;
    font-weight: bolder;
    cursor: pointer;
}
#buttonAboutMyself:hover {
    background-color: #7ed957;
    color: white;
}
#buttonAboutMyself:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}
#buttonElementaryLife {
    position:fixed; left: 35px; top: 29%;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    height: 9%;
    width: 28%;
    font-size: 1.8vw;
    font-weight: 700;
    color: #7ed957;
    cursor: pointer;
}
#buttonElementaryLife:hover {
    background-color: #7ed957;
    color: white;
}
#buttonElementaryLife:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}
#buttonHighschoolLife {
    position:fixed; left: 35px; top: 39%;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    height: 9%;
    width: 28%;
    font-size: 1.8vw;
    font-weight: 700;
    color: #7ed957;
    cursor: pointer;
}
#buttonHighschoolLife:hover {
    background-color: #7ed957;
    color: white;
}
#buttonHighschoolLife:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}
#buttonMyFamily {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    height: 9%;
    width: 32.5%;
    font-size: 1.8vw;
    color: #7ed957;
    font-weight: 700;
    position:fixed; right: 2.5%; bottom: 45%;
    cursor: pointer;
}
#buttonMyFamily:hover {
    background-color: #7ed957;
    color: white;
}
#buttonMyFamily:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}
/* Picture Styles */

#pictureAboutMyself {
    width: 27.25%;
    height: 42.5%;
    position:fixed; left: 33.75%; top: 16%;
    border: 2px solid black;
}
#pictureElementaryLife {
    width: 13%;
    height: 27%;
    border: 2px solid black;
    position:fixed; left: 33.75%; bottom: 12%;
}
#pictureHighschoolLife {
    width: 13%;
    height: 27%;
    border: 2px solid black;
    position:fixed; left: 47.95%; bottom: 12%;
}
#pictureMyFamily {
    width: 27.5%;
    height: 38%;
    position:fixed; right: 4.5%; bottom: 5.5%;
    border: 2px solid black;
}

/* Text Styles */

#textAboutMe {
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 1px 15px 2px 15px;
    height: 33%;
    width: 35.25%;
    font-family: Arial;
    font-size: 1vw;
    color: #7ed957;
    text-align: justify;
    position:fixed; right: 1%; top: 12%
}
#textSchoolLife {
    background-color: white;
    border: 2px solid black;
    color: #7ed957;
    padding: 8px 15px 10px 15px;
    height: 41%;
    width: 28%;
    font-family: Arial;
    font-size: 1vw;
    text-align: justify;
    position: fixed; left: 2%; bottom: 5%;
}
#elementaryLife {
    background-color: white;
    border: 2px solid black;
    padding-top: 7.5px;
    text-align: center;
    height: 4%;
    width: 13%;
    font-size: 1.1vw;
    color: #7ed957;
    font-weight: bold;
    font-family: Arial;
    position: fixed; left: 33.75%; bottom: 3%;
}
#highschoolLife {
    background-color: white;
    border: 2px solid black;
    padding-top: 7.5px;
    text-align: center;
    height: 4%;
    width: 13%;
    color: #7ed957;
    font-size: 1.1vw;
    font-weight: bold;
    font-family: Arial;
    position: fixed; left: 47.95%; bottom: 3%;
}

/* ----------------------------------------------- About Myself --------------------------------------------- */

/* Picture Styles (About Myself) */

#pictureMainAboutMyself {
    position:fixed; left: 1%; top: 3%;
    width: 37.5%;
    height: 59%;
    border: 2px solid black;
}
#picturesSubAboutMyself {
    position:fixed; left: 1%; bottom: 5.5%;
    box-sizing: border-box;
    margin: 0px;
    width: 75%;
    height: 31%;
    border: 1px solid black;
}
#picturesSubAboutMyself1 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 22%;
    height: 100%;
    border: 1px solid black;
}
#picturesSubAboutMyself2 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 22%;
    height: 100%;
    border: 1px solid black;
}
#picturesSubAboutMyself3 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 28%;
    height: 100%;
    border: 1px solid black;
}
#picturesSubAboutMyself4 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 28%;
    height: 100%;
    border: 1px solid black;
}
/* Button Styles (About Myself) */

#navMyselfPage {
    box-sizing: border-box;
    overflow: auto;
    width: 27%;
    height: 6.8%;
    position: fixed; right: 32.5%; top: 3%;
    border: 1px solid black;
}
#navMyselfPage button {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    width: 25%;
    font-size: 1.5vw;
    border: 1px solid black;
    background: white;
    color: #7ed957;
    cursor: pointer;
}
#navMyselfPage button:hover {
    background-color: #7ed957;
    color: white;
    transform: scale(1);
}
#navMyselfPage button:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}
#buttonReturnAboutMyself {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    height: 8%;
    width: 21%;
    font-size: 1.55vw;
    color: #7ed957;
    font-weight:700;
    position:fixed; right: 1%; bottom: 5.5%;
    cursor: pointer;
    transition: all 0.5s;
}
#buttonReturnAboutMyself span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
#buttonReturnAboutMyself span:after {
    content: '\00bb';
    font-size: 2vw;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    top: -25%;
    transition: 0.5s;
}
#buttonReturnAboutMyself:hover span {
    padding-right: 10%; 
}
#buttonReturnAboutMyself:hover span:after {
    opacity: 1;
    right: 0;
}
/* Headers, Text, and Lists Styles (About Myself)*/

#headersFormatAboutMyself {
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid black;
    padding: 8px 6px 5px 15px;
    width: 35.75%;
    height: 10%;
    font-family: Arial;  
    font-size: 2.6vw;
    color: #7ed957;
    position:fixed; left: 40.3%; top: 7.50%;
}
#textAboutMyself {
    background-color: white;
    border: 2px solid black;
    padding: 0px 15px 8px 15px;
    height: 36.3%;
    width: 33.25%;
    font-family: Arial;
    font-size: 1vw;
    color: #7ed957;
    position:fixed; left: 40.3%; top: 24.5%;
    text-align: justify;
}
#listFormatAboutMyself {
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 12px 6px 16px 21px;
    height: 65%;
    width: 20.5%;
    font-family: Arial;
    font-size: 1.2vw;
    color: #7ed957;
    position:fixed; right: 1.25%; top: 21%;
}

/* --------------------------------------------- About Page ------------------------------------------------ */

/* Videos and Media */

#slideshowAboutPage {
    position: fixed; left: 33%; bottom: 5.5%;
    box-sizing: border-box;
    border: 2px solid black ;
    background-color: white;
    width: 40%;
    height: 60%;
}
#slideshowAboutPage:hover {
    transform: scaleX(1.055) scaleY(1.15) translate(-2%, -10%);
    z-index: 2
}

/* Nav (About Page)*/

#navAboutPage {
    box-sizing: border-box;
    overflow: auto;
    width: 30%;
    height: 6.8%;
    position: fixed; right: 3%; top: 3%;
    border: 1px solid black;
}
#navAboutPage button {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    width: 20%;
    font-size: 1.5vw;
    border: 1px solid black;
    background: white;
    color: #7ed957;
    cursor: pointer;
}
#navAboutPage button:hover {
    background-color: #7ed957;
    color: white;
    transform: scale(1);
}
#navAboutPage button:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}
/*headers, text, tables (About Page) */

#textAboutPage {
    box-sizing: border-box ;
    background-color: white;
    border: 2px solid black;
    padding: 0px 2vw 0.5vw 2vw;
    height: 57%;
    width: 27.5%;
    position:fixed; left: 2.5%; top: 29%;
}
#textAboutPage p {
    background-color: white;
    font-family: Arial;
    color: #7ed957;
    font-size: 1.2vw;
    text-align: justify;
}
#textAboutPage h1 {
    background-color: white;
    font-family: Arial;
    color: #7ed957;
    font-size: 1.5vw;
    text-align: justify;
}
#headersFormatAboutPage {
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid black;
    padding: 8px 6px 5px 15px;
    width: 62.5%;
    height: 10%;
    font-family: Arial;
    font-size: 2.4vw;
    color: #7ed957;
    position:fixed; left: 35%; top: 7.50%;
}
#titleFormatAboutPage {
    background-color: white;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 8px 6px 5px 15px;
    width: 40%;
    height: 10%;
    font-family: Arial;
    font-size: 2.4vw;
    color: #7ed957;
    position:fixed; left: 33%; top: 19%;
}

#contacts {
    font-family: Arial;
    background-color: white;
    box-sizing: border-box;
    width: 23%;
    height: 72%;
    font-size: 1vw;
    position:fixed; right: 3%; bottom: 5.5%;
    border-collapse: collapse;
}

#titleContacts {
    padding: 0px;
    font-size: 2vw;
    color: #7ed957;
    background-color: white;
}

/* Buttons (About Page) */

#buttonReturnAboutPage {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    height: 8%;
    width: 27%;
    font-size: 1.55vw;
    color: #7ed957;
    font-weight:700;
    position:fixed; left: 2.75%; bottom: 5.5%;
    cursor: pointer;
    transition: all 0.5s;
}

#buttonReturnAboutPage span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
#buttonReturnAboutPage span:after {
    content: '\00bb';
    font-size: 2vw;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    top: -25%;
    transition: 0.5s;
}
#buttonReturnAboutPage:hover span {
    padding-right: 10%; 
}
#buttonReturnAboutPage:hover span:after {
    opacity: 1;
    right: 0;
}
/* ----------------------------------------- School Life Pages --------------------------------------------- */

/* ---- Pictures, Videos and other Media ---- */
audio {
    z-index: 2;
    position: fixed; bottom: 38%; left: 1.2%;
    width: 37.5%;
}
#videoMainSchoolLife {
    z-index: 1;
    position:fixed; left: 1%; top: 3%;
    padding: 15px 0px 15px 0px;
    width: 37.5%;
    background-color: white ;
    border: 2px solid black;
}
#pictureMainSchoolLife {
    position:fixed; left: 1%; top: 3%;
    width: 37.5%;
    height: 59%;
    border: 2px solid black;
}
.picturesSubSchoolLife {
    position:fixed; left: 1%; bottom: 5.5%;
    box-sizing: border-box;
    margin: 0px;
    width: 97%;
    height: 30%;
    border: 1px solid black;
}
.picturesSchoolLife1 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}
.picturesSchoolLife2 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}
.picturesSchoolLife3 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}
.picturesSchoolLife4 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}
.picturesSchoolLife5 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

/* ---- Text, headers, and others ---- */

.headersFormatSchoolLife{
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid black;
    padding: 8px 6px 5px 15px;
    width: 35.75%;
    height: 10%;
    font-family: Arial;
    font-size: 2.6vw;
    color: #7ed957;
    position:fixed; left: 40.3%; top: 7.50%;
}
.textSchoolLife {
    background-color: white;
    border: 2px solid black;
    padding: 0px 15px 8px 15px;
    height: 37.3%;
    width: 33.25%;
    font-family: Arial;
    font-size: 1.3vw;
    color: #7ed957;
    position:fixed; left: 40.3%; top: 23.5%;
    text-align: justify;
}
.sideTextFormatSchoolLife {
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 2px 6px 16px 14px;
    height: 27%;
    width: 21%;
    position:fixed; right: 1.25%; top: 22.5%;
}
.sideTextFormatSchoolLife h4 {
    font-family: Arial;
    font-size: 1.6vw;
    color: #7ed957;
}
.sideTextFormatSchoolLife p {
    font-family: Arial;
    font-size: 1.4vw;
    color: #7ed957;
}

/* ---- Buttons ---- */

#navSchoolPages {
    box-sizing: border-box;
    overflow: auto;
    width: 27%;
    height: 6.8%;
    position: fixed; right: 32.5%; top: 3%;
    border: 1px solid black;
}
#navSchoolPages button {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    width: 25%;
    font-size: 1.5vw;
    border: 1px solid black;
    background: white;
    color: #7ed957;
    cursor: pointer;
}
#navSchoolPages button:hover {
    background-color: #7ed957;
    color: white;
    transform: scale(1);
}
#navSchoolPages button:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}
.buttonReturnSchoolLife {
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    height: 12%;
    width: 20%;
    font-size: 1.55vw;
    color: #7ed957;
    font-weight:700;
    position:fixed; right: 1.75%; bottom: 37%;
    cursor: pointer;
    transition: all 0.5s;
}
.buttonReturnSchoolLife span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.buttonReturnSchoolLife span:after {
    content: '\00bb';
    font-size: 2vw;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    top: -25%;
    transition: 0.5s;
}
.buttonReturnSchoolLife:hover span {
    padding-right: 10%; 
}
.buttonReturnSchoolLife:hover span:after {
    opacity: 1;
    right: 0;
}

/* ------------------------------------------- My Family ----------------------------------------------------*/

/* Pictures and other media */
#pictureMainFamily {
    position:fixed; left: 1%; top: 3%;
    width: 37.5%;
    height: 59%;
    border: 2px solid black;
}
#picturesSubFamily {
    position:fixed; left: 1%; bottom: 5.5%;
    box-sizing: border-box;
    margin: 0px;
    width: 75%;
    height: 31%;
    border: 1px solid black;
}
#picturesSubFamily1 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 22%;
    height: 100%;
    border: 1px solid black;
}
#picturesSubFamily2 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 22%;
    height: 100%;
    border: 1px solid black;
}
#picturesSubFamily3 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 28%;
    height: 100%;
    border: 1px solid black;
}
#picturesSubFamily4 {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    width: 28%;
    height: 100%;
    border: 1px solid black;
}
/* Text, Headers, Table, and others */

#family {
    font-family: Arial;
    background-color: white;
    box-sizing: border-box;
    width: 20%;
    height: 60%;
    font-size: 1vw;
    position:fixed; right: 1.5%; bottom: 15%;
    border-collapse: collapse;
}

#titleFamily {
    padding: 0px;
    font-size: 2vw;
    color: #7ed957;
    background-color: white;
}
#headersFormatFamily{
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid black;
    padding: 8px 6px 5px 15px;
    width: 35.75%;
    height: 10%;
    font-family: Arial;
    font-size: 2.6vw;
    color: #7ed957;
    position:fixed; left: 40.3%; top: 7.50%;
}
#textFamily {
    background-color: white;
    border: 2px solid black;
    padding: 0px 15px 8px 15px;
    height: 37.3%;
    width: 33.25%;
    font-family: Arial;
    font-size: 1.02vw;
    color: #7ed957;
    position:fixed; left: 40.3%; top: 23.5%;
    text-align: justify;
}

/* ---- Buttons ---- */

#navFamilyPage {
    box-sizing: border-box;
    overflow: auto;
    width: 27%;
    height: 6.8%;
    position: fixed; right: 32.5%; top: 3%;
    border: 1px solid black;
}
#navFamilyPage button {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    width: 25%;
    font-size: 1.5vw;
    border: 1px solid black;
    background: white;
    color: #7ed957;
    cursor: pointer;
}
#navFamilyPage button:hover {
    background-color: #7ed957;
    color: white;
    transform: scale(1);
}
#navFamilyPage button:active {
    background-color:#00c2cb;
    color: white;
    transition: 0s;
}
#buttonReturnFamily {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    height: 8%;
    width: 21%;
    font-size: 1.55vw;
    color: #7ed957;
    font-weight:700;
    position:fixed; right: 1%; bottom: 5.5%;
    cursor: pointer;
    transition: all 0.5s;
}
#buttonReturnFamily span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
#buttonReturnFamily span:after {
    content: '\00bb';
    font-size: 2vw;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    top: -25%;
    transition: 0.5s;
}
#buttonReturnFamily:hover span {
    padding-right: 10%; 
}
#buttonReturnFamily:hover span:after {
    opacity: 1;
    right: 0;
}
