@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

/* --------------------------------------------Universal------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:rgb(204, 120, 25);
}
body {
    background-image: url("../images/background.jpg");
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    text-align: center;
}

#plane{
    width: 12%;
    position: fixed;
    left: 15%;
    top: 15%;
}
#centerText{
    z-index: 99;
    position: fixed;
    top: 15%;
    left: 50%;
    font-size: 5.5vw;
    outline-color: rgb(204, 120, 25);
    color: white;
}